<?xml version="1.0"?>
<web-app
xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">
	<!-- no longer needed, check annotation @WebListener at Init.java
	<listener>
      <listener-class>publisher.listeners.Init</listener-class>
   	</listener>
   	-->
   	
   	<!-- no longer needed, check annotation @ServletSecurity at LoginServlet.java, Publish and Unpublish
   	<security-constraint>
      <web-resource-collection>
         <web-resource-name>publisher1</web-resource-name>
         <url-pattern>/login</url-pattern>
         <url-pattern>/publish</url-pattern>
         <url-pattern>/unpublish</url-pattern>
      </web-resource-collection>
      <user-data-constraint> 
         <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>
	-->

	<!-- no longer needed, check annotation @WebFilter at SecurityFilter.java
   	<filter>
      <filter-name>security-filter</filter-name>
      <filter-class>publisher.listeners.SecurityFilter</filter-class>
   	</filter>
   	<filter-mapping>
      <filter-name>security-filter</filter-name>
      <url-pattern>/*</url-pattern>
   	</filter-mapping>-->
	
</web-app>